{% extends 'layoutcrud.html.twig' %}

{% block title %}New Contacto
{% endblock %}

{% block content %}
	<style>
		.bot {
			height: 46px;
		}
	</style>

	<div style='margin-top:100px'>
		<h1>Create new Contacto</h1>

		{{ include('contacto/_form.html.twig') }}

		<a class='site__btn bot' href="{{ path('contacto_index') }}">back to list</a>
	</div>
{% endblock %}
