{% extends "layout.html.twig" %}
{% block content %}
	<section class="page-top-section">
		<div class="container">
			<div class="page-info-box">
				<div class="page-info-icon">
					<i class="fa fa-headphones"></i>
				</div>
				<div class="page-info-text">
					<h2>About us</h2>
					<div class="site-breadcrumb">
						<a href="/">Home</a>
						<span>About us</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="about__page">
		<div class="container">
			<div class="about_page_innter">
				<img src="img/about-1.jpg" alt="">
				<div class="about__page__text">
					<div class="section-title">
						<div class="sub-title">About us</div>
						<h2>The electro vibe</h2>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel fac-ilisis. lectus turpis sociis ut porttitor scelerisque amet ultrices placerat mid facilisis proin purus, cursus ridiculus nisi diam augue porta?</p>
						</div>
						<div class="col-lg-6">
							<p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in meis. Meis an pericula euripidis, hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eiuser lorem tincidunt vix at, vel pertinax sensibus id, error epicurei mea et. Measa facilisis urbanies tas moderatius id. Vis ei rationi-bus definiebas, eu qui purto zril erdfe laoreet ex error omnium. </p>
						</div>
					</div>
				</div>
				<div class="section-title text-center">
					<div class="sub-title">Popular show</div>
					<h2>Our popular show</h2>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="populer__show__card">
							<img src="img/shows/1.jpg" alt="">
							<div class="show__info">
								<h4>Sunburn Arena with Wiz Khalifa</h4>
								<p>EDM, Pop, Rap | English | Age 15+ | 5hrs</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="populer__show__card">
							<img src="img/shows/2.jpg" alt="">
							<div class="show__info">
								<h4>Raymond MTV India Music</h4>
								<p>Rock, Sufi | English, Hindi | Age 12+</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="populer__show__card">
							<img src="img/shows/3.jpg" alt="">
							<div class="show__info">
								<h4>Zangoora - Kingdom of Dreams</h4>
								<p>EDM, Pop, Rap | English | Age 15+ | 5hrs</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}