{% extends "layoutcrud.html.twig" %}
{% block content %}
	<div style='margin-top:100px'>
		<a href='/album' class="site__btn">Album</a>
		<a href='/contacto' class="site__btn">Contacto</a>
		<a href='/user' class="site__btn">User</a>
	</div>
{% endblock %}
