{% extends "layout.html.twig" %}
{% block content %}
	<section class="page-top-section">
		<div class="container">
			<div class="page-info-box">
				<div class="page-info-icon">
					<i class="fa fa-headphones"></i>
				</div>
				<div class="page-info-text">
					<h2>Detail Albums</h2>
					<div class="site-breadcrumb">
						<a href="/">Home</a>
						<a href="/">Albums</a>
						<span>Sweet but psycho</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="albums__page">
		<div class="container">
			<div class="player-two-style">
				<div id="jquery_jplayer_2" class="jp-jplayer"></div>
				<div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">
					<div class="jp-type-playlist">
						<div class="row">
							<div class="col-lg-6 pr-0">
								<div class="player_left" id="player__thumb_two">
									<div class="player_left_inner">
										<div class="conterols">
											<div class="jp-gui jp-interface">
												<div class="jp-time-holder">
													<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div> /
													<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
												</div>
												<div class="jp-controls">
													<button class="jp-previous" role="button" tabindex="0"><i class="fa fa-step-backward"></i></button>
													<button class="jp-play" role="button" tabindex="0"><i class="fa fa-play" aria-hidden="true"></i></button>
													<button class="jp-next" role="button" tabindex="0"><i class="fa fa-step-forward" ></i></button>
												</div>
												<div class="jp-volume-controls">
													<button class="jp-mute" role="button" tabindex="0"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
													<div class="jp-volume-bar">
														<div class="jp-volume-bar-value"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div>
									<h3 class="player-title">Track list</h3>
									<div class="jp-playlist audio-playlist">
										<ul>
											<li>&nbsp;</li>
										</ul>
									</div>
									<div class="jp-no-solution">
										<span>Update Required</span>
										To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<h3 class="album-title">AVAILABLE ON</h3>
					<div class="avablable__links">
						<a href="#"><img src="img/itune.png" alt=""></a>
						<a href="#"><img src="img/google-play.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="album-text">
						<h3 class="album-title">ABOUT ALBUM</h3>
						<p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in meis. Meis an pericula euripidis, hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eiuser lorem tincidunt vix at, vel pertinax sensibus id, error epicurei mea et. Measa facilisis urbanies tas moderatius id.</p>
						<ul>
							<li><i class="fa fa-star"></i>David Wade</li>
							<li><i class="fa fa-tag"></i>Vibra Records</li>
							<li><i class="fa fa-calendar"></i>December 13, 2018</li>
							<li><i class="fa fa-music"></i>Electronic, Hip Hop, Indie, Rock</li>
							<li><i class="fa fa-user"></i>Jose Freeman, Brian Banks, William Curtis</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}