<!DOCTYPE html>
<html lang="zxx">
<head>
	{% block head %}{% endblock %}
</head>
<body>
    {% block preloader %}{% endblock %}
	{% block header %}{% endblock %}
    {% block content %}{% endblock %}
	{% block footer %}{% endblock %}
	{% block scripts %}{% endblock %}
</body>
</html>