{% extends "layout.html.twig" %}
{% block content %}
	<section class="page-top-section">
		<div class="container">
			<div class="page-info-box">
				<div class="page-info-icon">
					<i class="fa fa-headphones"></i>
				</div>
				<div class="page-info-text">
					<h2>Buy tickets</h2>
					<div class="site-breadcrumb">
						<a href="/">Home</a>
						<span>Buy tickets</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="tickets__page">
		<div class="container">
			<div class="show__item">
				<div class="show__date">
					<h2>16</h2>
					<p>SEP</p>
				</div>
				<div class="show__title">
					<h2>Sunburn Goa 2019</h2>
					<p>EDM  |  English  |  Age 15+  |  8hrs</p>
				</div>
				<div class="show__location">
					<p><i class="fa fa-map-marker"></i> Vagator: Goa </p>
				</div>
				<div class="show__time">
					<p><i class="fa fa-clock-o"></i>09:00PM</p>
				</div>
			</div>
			<div class="ticket-pic">
				<img src="img/ticket.jpg" alt="">
			</div>
			<div class="ticket-select">
				<div class="ticket-left pt-2">
					<h2>Your Selection</h2>
				</div>
				<div class="ticket-right">
					<div class="row m-0">
						<div class="col-lg-4 p-0">
							<select>
								<option>Section</option>
							</select>
						</div>
						<div class="col-lg-4 p-0">
							<select>
								<option>Row</option>
							</select>
						</div>
						<div class="col-lg-4 p-0">
							<select>
								<option>Seat</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="ticket-select">
				<div class="ticket-left">
					<h2>Tickets</h2>
					<h6>£86.15 ea</h6>
				</div>
				<div class="ticket-right">
					<div class="row m-0">
						<div class="col-lg-4 p-0">
							<div class="quantity">
								<div class="pro-qty">
									<input type="text" value="1">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ticket-footer">
				<div class="row">
					<div class="col-md-4">
						<h3>Full Price Ticket</h3>
						<p>( Price Includes facility fee £1.75 )<br>( Price Includes service fee £9.40 </p>
					</div>
					<div class="col-md-4 text-left text-md-center mb-3">
						<h6><i class="fa fa-ticket"></i>×  86.15</h6>
					</div>
					<div class="col-md-4 text-left text-md-right pt-3">
						<button class="site__btn">Get tickets</button>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}