{% extends "layout.html.twig" %}
{% block content %}
	<section class="page-top-section">
		<div class="container">
			<div class="page-info-box">
				<div class="page-info-icon">
					<i class="fa fa-headphones"></i>
				</div>
				<div class="page-info-text">
					<h2>Tours</h2>
					<div class="site-breadcrumb">
						<a href="/">Home</a>
						<span>Tours</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="tours__page">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="section-title">
						<div class="sub-title">Upcoming Shows</div>
						<h2>WHEN WE ALL FALL ASLEEP</h2>
					</div>
				</div>
				<div class="col-lg-4 text-left text-lg-right pt-2">
					<a href="#" class="site__btn">View all </a>
				</div>
			</div>
			<div class="show__item">
				<div class="show__date">
					<h2>25</h2>
					<p>aug</p>
				</div>
				<div class="show__title">
					<h4>Sunburn Arena with Wiz Khalifa</h4>
					<p>EDM, Pop, Rap  |  English  |  Age 15+  |  5hrs</p>
				</div>
				<div class="show__location">
					<p><i class="fa fa-map-marker"></i> Multiple Venues </p>
				</div>
				<div class="show__time">
					<p><i class="fa fa-clock-o"></i>02:00PM</p>
				</div>
				<div class="show__btn">
					<a href="#" class="site__btn sb--line ">Buy tickets</a>
				</div>
			</div>
			<div class="show__item">
				<div class="show__date">
					<h2>05</h2>
					<p>SEP</p>
				</div>
				<div class="show__title">
					<h4>Raymond MTV India Music</h4>
					<p>Rock, Sufi   |  English, Hindi   |  Age 12+</p>
				</div>
				<div class="show__location">
					<p><i class="fa fa-map-marker"></i> The Fairmont Hotel: Jaipur </p>
				</div>
				<div class="show__time">
					<p><i class="fa fa-clock-o"></i>02:00PM</p>
				</div>
				<div class="show__btn">
					<a href="#" class="site__btn sb--line ">Buy tickets</a>
				</div>
			</div>
			<div class="show__item">
				<div class="show__date">
					<h2>16</h2>
					<p>SEP</p>
				</div>
				<div class="show__title">
					<h4>Sunburn Goa 2019</h4>
					<p>EDM  |  English  |  Age 15+  |  8hrs</p>
				</div>
				<div class="show__location">
					<p><i class="fa fa-map-marker"></i> Vagator: Goa </p>
				</div>
				<div class="show__time">
					<p><i class="fa fa-clock-o"></i>02:00PM</p>
				</div>
				<div class="show__btn">
					<a href="#" class="site__btn sb--line ">Buy tickets</a>
				</div>
			</div>
			<div class="show__item">
				<div class="show__date">
					<h2>20</h2>
					<p>SEP</p>
				</div>
				<div class="show__title">
					<h4>The Piano Man presents Shockblast</h4>
					<p>Jazz, Pop  |  English  |  3hrs</p>
				</div>
				<div class="show__location">
					<p><i class="fa fa-map-marker"></i> The Piano Man Jazz Club: Delhi</p>
				</div>
				<div class="show__time">
					<p><i class="fa fa-clock-o"></i>08:00PM</p>
				</div>
				<div class="show__btn">
					<a href="#" class="site__btn sb--line ">Buy tickets</a>
				</div>
			</div>
			<div class="show__item">
				<div class="show__date">
					<h2>14</h2>
					<p>oct</p>
				</div>
				<div class="show__title">
					<h4>Zangoora - Kingdom of Dreams</h4>
					<p>EDM, Pop, Rap  |  English  |  Age 15+  |  5hrs</p>
				</div>
				<div class="show__location">
					<p><i class="fa fa-map-marker"></i> Kingdom Of Dreams: Gurgaon </p>
				</div>
				<div class="show__time">
					<p><i class="fa fa-clock-o"></i>09:00PM</p>
				</div>
				<div class="show__btn">
					<a href="#" class="site__btn sb--line ">Buy tickets</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}